body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-image: url('gambar1.jpeg');
    background-attachment: fixed;
}

.card {
    font-size: 35px;
    text-align: center;
}

.container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 100x;
    font-family:'Times New Roman', Times, serif;
    color: floralwhite;
    font-size: 20px;
}

.container2 {
    max-width: 450px;
    margin: 27px auto;
    padding: 20px;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color: #fff;
    text-align: center;
}

.container3 {
    max-width: 300px;
    margin: 30px;
    padding: 20px;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: #fff;
    transform: translateY(-200px);
}


label {
    font-weight: bold;
    font-size: 23px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background-color: #052efc;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #007bff;
}

p#result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

